# Dependencies
node_modules
.pnpm-store

# Production build output
dist
build
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & IDE
.env
.env.local
.env.production
.DS_Store
.idea
.vscode
